<!-- <form [formGroup]="form" (submit)="onSubmit()">
    <mat-form-field>
      <input matInput type="text" formControlName="name" placeholder="Name" />
      <mat-error *ngIf="form.controls['name'].invalid">{{
        getErrorMessage('name')
      }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="email"
        formControlName="email"
        placeholder="Email"
      />
      <mat-error *ngIf="form.controls['email'].invalid">{{
        getErrorMessage('email')
      }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        formControlName="password"
        placeholder="Password"
      />
      <mat-error *ngIf="form.controls['password'].invalid">{{
        getErrorMessage('password')
      }}</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
      Save
    </button>
  </form> -->