<!-- <div class="main">
    <div class="logo">
        <img src="../../../assets/Logo.png" style=" width: 150px; height: 80px;"alt="Logo">
    </div>
    <a routerLink="/dashboard" class="link">
        <button  >Welcome To</button>
      </a>
      <div class="main-logo">
        <img src="../../../assets/The Theatre.png" style="width: 300px; height: 150px;" alt="">
      </div>
    
</div>
 -->
 <div class="image-container">
    <img class="f-img" src="../../../assets/Logo.png" width="150px; height:80px;" alt="Image 1">
    <a routerLink="/dashboard" class="link">
        <button  >Welcome To</button>
      </a>
    <img class="s-img" src="../../../assets/The Theatre.png" width="350px" width="250px" alt="Image 2">
    <img class="t-img" src="../../../assets/Movie.png" width="230px"  alt="Image 2">
  </div>