<section class="ftco-section">
    <div class="container">
       
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center mb-4" >Voting Table</h4>
                <div class="table-wrap">
                    <table class="table">
                    <thead class="thead-primary">
                      <tr>
                        <th>Status</th>
                        <th>CurrentVote</th>
                        <th>startDateTime</th>
                        <th>endDateTime</th>
                        <th>movieCount</th>
                        <th colspan="4" rowspan="1">movies</th>
                        <th>Edit</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row" class="scope" >.com</th>
                        <td>1 Year</td>
                        <td>$70.00</td>
                        <td>$5.00</td>
                        <td>$5.00</td>
                        <td style="background-color:gray;">$5.00 </td>
                        <td style="background-color: rgb(87, 85, 85);">$5.00</td>
                        <td style="background-color: gray;">$5.00</td>
                        <td style="background-color: rgb(194, 186, 186);">$5.00</td>
                        <td><a  routerLink="/Edit-vote" class="btn btn-primary" style="border-radius: 0.25rem; background-color: blueviolet;">Edit</a></td>
                        
                      </tr>
                    
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
</section>